   <table id="example1" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="" >Sr. No.</th>
                                        <th class="" >Category</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <% if(data.length){ 

                                    for(var i = 0;i < data.length;i++) { %>

                                    <tr>
                                        <td> <%=i+1%> </td>
                                        <td><%=data[i].categoryname%></td>
                                        <td>
                                            <a class="btn btn-success btn-sm a-inside editOrder" data-id="<%=data[i]._id%>">Edit</a>
                                            <a class="btn btn-danger btn-sm a-inside deleteOrder" data-id="<%=data[i]._id%>">Delete</a>
                                        </td>
                                    </tr>
                                    <% }

                                    }else{ %>
                                    <tr>
                                        <td colspan="3">No user</td>
                                    </tr>
                                    <% } %>



                                </tbody>

                            </table>