<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li> 
                <a href="dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></i></a>
            </li>
            <li> 
               <a href="shops"><i class="fa fa-list"></i> <span> Shops </span></i></a>
            </li>
            <li> 
                <a href="buyers"><i class="fa fa-users"></i> <span> Buyers </span></i></a>
            </li>
            <li> 
                <a href="items"><i class="fa fa-crosshairs"></i> <span> Items </span></i></a>
            </li>
            <li> 
                <a href="orders"><i class="fa fa-shopping-cart"></i> <span> Orders </span></i></a>
            </li>
            <li> 
                <a href="categories"><i class="fa fa-edit"></i> <span> Categories </span></i></a>
            </li>
            <li> 
                <a href="units"><i class="fa fa-arrows"></i> <span> Unit </span></i></a>
            </li>
            <li> 
                <a href="g-s-t"><i class="fa fa-anchor"></i> <span> GST </span></i></a>
            </li>
            <li> 
                <a href="logout"><i class="fa fa-sign-out"></i> <span> Logout </span></i></a>
            </li>
        </ul>
    </section>
</aside>