<footer class="main-footer">
    <strong>Copyright &copy; 2014-2015 Admin Panel.</strong> All rights reserved.
</footer>
</div>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="../../admin/app.js"></script>
</body>
</html>