<%- include ../layouts/adminheader.ejs %>
<%- include ../layouts/adminsidebar.ejs %>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-body text-center">
                       <h2> Welcome to admin panel. </h2>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<%- include ../layouts/adminfooter.ejs %>
